
.whole_page {
    padding-bottom: 5%;
    
    margin-top: 8%;
    
    
}

/*Medical Records -------------------*/

.patient_charts {
    
    background-color: rgb(35 39 45);
}
.no_charts {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.record_date {
    
    display: flex; 
    justify-content: center;
    
    margin-bottom: 1%;
   
}
.date {
    display: flex;
    align-items: center;
    margin-right: 3%;
    color: rgb(232, 232, 232);
}


.medical_record {
    
    background-color: rgb(49 54 60);
    border-color: rgb(77, 85, 95);
    color: rgb(232, 232, 232);
    width: 70%;
    margin-top: 1%;
    padding: 1%;
    border-radius: 1%;
}

.medical_record:hover {
    width: 75%;
    height: 65%;
    padding: 3%;
    transition-duration: 450ms; 

}


.Enable_Edit {
    border: none;
    background-color: rgb(49 54 60);
    color: rgb(232, 232, 232);
    opacity: 0.5;
    cursor: pointer;
}

.Enable_Edit:hover {
    opacity: 1;
}

.edit_button {
    display: flex;
    justify-content: flex-end;
    
}  
.SOAP {
    padding: 1.5%;
}
.SO {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0.5%;
     
}
.record_tags {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.doctor {
    color: white; 
    display: flex; 
    justify-content: flex-end;
}

.addendum {
    display: flex; 
    justify-content: flex-end;
    color: rgb(153 228 145);
    font-size: 12px; 
}

.addendum:hover {
    
    opacity: 0.5;
}

.complaint {
    padding-bottom: 1%;
}

.bullet_point {
    padding-left: 5%; 
}

.diagnosis {
    display: flex;
}

.mark_medication {
    background-color: rgb(203 106 81);
    margin-bottom: 0.2em;
    margin-left: 0.5em;
    color: white; 
    padding: 0.1em;
    border-radius: 5%;
    font-size: 12px;
    
    
    
}

.medication-tags {
    display: flex;
    flex-direction: column; 
}

.med_header_tags {
    display: flex;
}

.diagnosis_on_chart {
    margin-left: 0.5em;
    height: auto;
    
}

.mark_diagnosis {
    background-color: rgb(205 160 20);
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    padding: 0.1em;
    border-radius: 5%;
    color: white; 
    font-size: 12px;
    
    
}




/* Patient chart and Patient Summary ----------*/

.patient_chart_and_summary {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    
    
}

/*Patient Header ------------------------*/

.pet_header_information {
    display: flex; 
    margin-left: 3%;
    
    justify-content: center;
    
   
}
.border_line_container {
    display: flex; 
    justify-content: center; 
    padding-top: 2%;
    padding-bottom: 6%;
}
.border_line {
    border-bottom: solid thin rgb(141 148 157);
    width: 94%;
    text-align: center; 
}

.image {
    border-radius: 50%;
    border: solid white; 
}

.patientName {
   display: flex; 
   width: 15em;
   padding-left: 8%;
   
}

.patientInfo {
    display: flex;
    padding-bottom: 0.1%;
    align-items: flex-end;
    width: 100%; 
    
    
}

.info_line {
  margin: 1.2%;
}

.image_name_breed {
    margin: 1%;
}

.link_chart_pet {
    color: rgb(153 228 145);
    font-size: 1.5em;
    padding-top: 3%;
    
    
}

.link_chart_owner {
    color: rgb(153 228 145);
    
}

.link_chart_pet:hover {
    opacity: 0.5; 
    
}

.link_chart_owner:hover {
   opacity: 0.5;
    
}

/*Patient Sub-headers ---------------------*/
.sub_header_button {
    display: grid; 
    grid-template-areas: "one . . . . . .two . . . ." ;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    
}
.view_all {
    grid-area: two; 
    width: 70%;
    margin-left: 30%;
    margin-right: 0%;
    font-family: 'Sen', sans-serif;
    background-color: rgb(35 39 45);
    border: none;
    border-radius: 8%;
    color: rgb(141 148 157);
    cursor: pointer; 
}

.add_new {
    grid-area: one;
    width: 70%;
    font-family: 'Sen', sans-serif;
    background-color: rgb(35 39 45);
    border: none;
    border-radius: 8%;
    color: rgb(141 148 157);
    cursor: pointer; 

}

.patient-chart {
    margin-left: 3%; 
    margin-top: 1%;
    font-size: 20px; 
    color: rgb(141 148 157);
    

}

.patient_chart_and_summary {
   
    margin: 0 3% 0 3%;
    
}

.arrow {
    padding-top: 6%;
    padding-left: 1%;
}

.arrow_deceased {
    padding-top: 6%;
    margin-left: 1%;
    color: rgb(160, 3, 3); 
    
}


/*Patient Summary--------------------------*/

.summary_filter_meds { /*buttons medications */
    border: none; 
    font-family: 'Sen', sans-serif;
    margin: 1%;
    background-color:rgb(203 106 81);
    opacity: 0.7;
    cursor: pointer;
}

.summary_filter_problems { /*buttons medications */
    border: none; 
    font-family: 'Sen', sans-serif;
    margin: 1%;
    background-color: rgb(205 160 20);
    opacity: 0.7;
    cursor: pointer;
}

.summary_filter_meds:hover {
    opacity: 1;
}

.summary_filter_problems:hover {
    opacity: 1;
}

.patient_summary {
    display: flex;
    flex-direction: column;
    
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    background-color: rgb(24 27 33);
    border-left: thick solid rgb(15, 17, 22);
    

}

.patient_summary_header {
    font-size: 20px; 
    display: flex;
    justify-content: center;
    padding: 2%;
    color: rgb(141 148 157);
}

.patient_summary_sub_headers {
    margin-top: 7%;
    margin-bottom: 5%;
}

.summary_filter {
    margin: 1%;
}

