
/*.whole-list-page {
    background-color: rgb(16, 24, 41);
    color: rgb(127, 135, 166);
    width: 100%;
    
    
}*/

.all_filters {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 1%;
    

}
.new_patient_button {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;

}

.search_input_field {
    width: 17em;
    margin-left: 2%
    
}
.search_inputs {
    display: flex;

}



.Patient_List_Headers {
    border: solid black;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}
.header {
    display: flex;
    justify-content: center;
}
.patient {
    display: flex;
    justify-content: center;
    margin: 0.2%;
}

.patients {
    border: solid black;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1%;
}



.canine_toggle {
    background-color: lightcoral; 
    border: none;
    height: 100%;
    transition-duration: 300ms;
    cursor: pointer;
    
    color: white; 
    border-radius: 10px 0 0 10px
    
    
}

.both_toggle {
    background-color: lightcoral; 
    border: none;
    height: 100%;
    transition-duration: 300ms;
    cursor: pointer;
    
    color: white; 
    
    
}

.feline_toggle {
    background-color: lightcoral; 
    border: none;
    height: 100%;
    transition-duration: 300ms;
    cursor: pointer;
    
    color: white; 
    border-radius: 0 5px 5px 0;
    
    
}

.canine_not {
    border: none; 
    background-color: white;
    height: 100%;
    transition-duration: 300ms;
    cursor: pointer;
    background-color: #e4e4e4;
    border-radius: 5px 0 0 5px
    
    
}

.feline_not {
    border: none; 
    background-color: white;
    height: 100%;
    transition-duration: 300ms;
    cursor: pointer;
    background-color: #e4e4e4;
    border-radius: 0 5px 5px 0;
    
    
}

.both_not {
    border: none; 
    background-color: white;
    height: 100%;
    transition-duration: 300ms;
    cursor: pointer;
    background-color: #e4e4e4;
    
    
    
}

.radio_buttons {
   
    display: flex;
   
    

}