
.whole_page {
    
    height: 70%; 
    
}

/*Medical Records -------------------*/

.no_charts {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.record_date {
    
    display: flex; 
    justify-content: center;
   
}
.date {
    display: flex;
    align-items: center;
    margin-right: 3%
}


.medical_record {
    border: solid black;
    background-color: white;
    color: black; 
    width: 70%;
    margin-top: 2%;
    
    padding: 1%;
    border-radius: 1%;
}


.Enable_Edit {
    border: none;
    background-color: white;
}

.edit_button {
    display: flex;
    justify-content: flex-end;
    
}  
.SOAP {
    padding: 1.5%;
}
.SO {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0.5%;
     
}
.record_tags {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.doctor {
   
    display: flex; 
    justify-content: flex-end;
}

.addendum {
    display: flex; 
    justify-content: flex-end;
}

.complaint {
    padding-bottom: 1%;
}

.bullet_point {
    padding-left: 5%; 
}


/* Patient chart and Patient Summary ----------*/

.patient_chart_and_summary {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    
}

/*Patient Header ------------------------*/

.pet_header_information {
    display: flex; 
    margin-left: 3%;
    
    justify-content: center;
    
   
}
.border_line_container {
    display: flex; 
    justify-content: center; 
    padding-top: 2%;
    padding-bottom: 6%;
}
.border_line {
    border-bottom: solid thin rgb(141 148 157);
    width: 90%;
    text-align: center; 
}

.image {
    border-radius: 50%;
}

.patientName {
   display: flex; 
   width: 15em;
   padding-left: 8%;
   
}

.patientInfo {
    display: flex;
   padding-bottom: 0.4%;
    align-items: flex-end;
    width: 100%; 
    
}

.info_line {
  margin: 1.2%;
}

.image_name_breed {
    margin: 1%;
}

.link_chart_pet {
    color: rgb(153 228 145);
    font-size: 1.5em;
    padding-top: 3%;
    
    
}

.link_chart_owner {
    color: rgb(153 228 145);
    
}

.link_chart_pet:hover {
    opacity: 0.5; 
    
}

.link_chart_owner:hover {
   opacity: 0.5;
    
}

/*Patient Sub-headers ---------------------*/
.sub_header_button {
    display: grid; 
    grid-template-areas: "one . . . . . .two . . . ." ;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    
}
.view_all {
    grid-area: two; 
    width: 70%;
    margin-left: 30%;
    margin-right: 0%;
    font-family: 'Sen', sans-serif;
}

.add_new {
    grid-area: one;
    width: 70%;
    font-family: 'Sen', sans-serif;

}

.patient-chart {
    margin-left: 3%; 
    margin-top: 1%;
    

}

.patient_chart_and_summary {
    border: thin solid rgb(49 54 60);
    margin: 0 3% 0 3%;
    
}

.arrow {
    padding-top: 6%;
    padding-left: 1%;
}

.arrow_deceased {
    padding-top: 6%;
    margin-left: 1%;
    
}


/*Patient Summary--------------------------*/

.summary_filter { /*buttons*/
    border: none; 
    font-family: 'Sen', sans-serif;

}

.patient_summary {
    display: flex;
    flex-direction: column;
    border: solid black; 
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    background-color: rgb(35 39 45);
    border: thin solid rgb(49 54 60);
    

}

.patient_summary_header {
    
    display: flex;
    justify-content: center;
    padding: 2%
}

.patient_summary_sub_headers {
    margin-top: 7%;
    margin-bottom: 5%;
}

.summary_filter {
    margin: 1%;
}

